
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeRolesLabel" data-translate="cavmgrApp.employeeRoles.home.createOrEditLabel">Create or edit a Employee Roles</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employeeRoles.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employeeRoles.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavmgrApp.employeeRoles.roleName" for="field_roleName">Role Name</label>
            <input type="text" class="form-control" name="roleName" id="field_roleName"
                    ng-model="vm.employeeRoles.roleName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavmgrApp.employeeRoles.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.employeeRoles.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavmgrApp.employeeRoles.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.employeeRoles.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavmgrApp.employeeRoles.lastUpdateDate" for="field_lastUpdateDate">Last Update Date</label>
                <div class="input-group">
                    <input id="field_lastUpdateDate" type="text" class="form-control" name="lastUpdateDate" datetime-picker="{{dateformat}}" ng-model="vm.employeeRoles.lastUpdateDate" is-open="vm.datePickerOpenStatus.lastUpdateDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdateDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavmgrApp.employeeRoles.lastUpatedBy" for="field_lastUpatedBy">Last Upated By</label>
            <input type="text" class="form-control" name="lastUpatedBy" id="field_lastUpatedBy"
                    ng-model="vm.employeeRoles.lastUpatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavmgrApp.employeeRoles.orgId" for="field_orgId">Org Id</label>
            <input type="number" class="form-control" name="orgId" id="field_orgId"
                    ng-model="vm.employeeRoles.orgId"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cavmgrApp.employeeRoles.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.employeeRoles.user" ng-options="employees as employees.id for employees in vm.employees track by employees.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
